#projectComment {
  padding: 80px 50px; }
  #projectComment .wrap .list {
    padding: 40px 0;
    border-top: 1px solid #f6f6f6; }
    #projectComment .wrap .list > div {
      float: left; }
    #projectComment .wrap .list .list-1 {
      width: 10%; }
      #projectComment .wrap .list .list-1 > div {
        width: 105px;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #e8f2dd; }
        #projectComment .wrap .list .list-1 > div img {
          width: 95%; }
    #projectComment .wrap .list .list-2 {
      width: 80%;
      text-align: left; }
      #projectComment .wrap .list .list-2 > div:nth-child(1) {
        font-size: 20px;
        color: #333333;
        font-weight: bold; }
        #projectComment .wrap .list .list-2 > div:nth-child(1) span {
          display: inline-block;
          vertical-align: middle; }
        #projectComment .wrap .list .list-2 > div:nth-child(1) span:first-child {
          /*background: url("../../static/img/icon21.png") no-repeat;*/
          background-size: 100% 100%;
          width: 18px;
          height: 18px;
          margin-right: 8px; }
      #projectComment .wrap .list .list-2 .huifu {
        padding: 20px 0 0 25px; }
        #projectComment .wrap .list .list-2 .huifu p {
          font-size: 16px;
          color: #333333;
          text-align: justify;
          margin-bottom: 20px; }
        #projectComment .wrap .list .list-2 .huifu .huifu1 {
          font-size: 16px;
          color: #333333;
          border: 1px solid #e4e4e4;
          background-color: #f6f6f6;
          width: 55%;
          padding: 20px 40px 20px 30px; }
          #projectComment .wrap .list .list-2 .huifu .huifu1 .huifuList {
            width: 88%; }
            #projectComment .wrap .list .list-2 .huifu .huifu1 .huifuList div {
              margin: 8px 0; }
            #projectComment .wrap .list .list-2 .huifu .huifu1 .huifuList div:first-child {
              display: flex; }
              #projectComment .wrap .list .list-2 .huifu .huifu1 .huifuList div:first-child span:first-child {
                width: 8%;
                min-width: 65px; }
              #projectComment .wrap .list .list-2 .huifu .huifu1 .huifuList div:first-child span:last-child {
                width: 92%; }
            #projectComment .wrap .list .list-2 .huifu .huifu1 .huifuList div:last-child {
              color: #888888;
              text-align: right; }
    #projectComment .wrap .list .list-3, #projectComment .wrap .list .list-4 {
      width: 10%;
      padding: 45px 0;
      font-size: 16px;
      color: #ff0000; }
    #projectComment .wrap .list .list-4 {
      text-align: right;
      color: #333333; }
      #projectComment .wrap .list .list-4 div:last-child span {
        display: inline-block;
        vertical-align: middle; }
      #projectComment .wrap .list .list-4 div:last-child span:first-child {
        background: url("../../static/img/icon23.png") no-repeat;
        background-size: 100% 100%;
        width: 18px;
        height: 16px;
        margin-right: 5px; }
  #projectComment .pagina {
    margin-top: 50px; }

/*# sourceMappingURL=projectComment.css.map */
