#myClientDetail{
  background-color: #fff;
  .wrap{
    padding: 45px 45px 0 45px;
    .list1{
      display: flex;
      flex-direction: row-reverse;
      height: 50px;
      >div:nth-child(2){
        margin: 0 20px;
        height: 50px;
        display: flex;
        >span:last-child{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e0f0ff;
          width: 60px;
          border: 1px solid #b9dcff;
          cursor: pointer;
        }
      }
      >div:nth-child(1){
        height: 50px;
        display: flex;
        width: 320px;
        input{
          width: 240px;
          border: 1px solid #b9dcff;
          border-right: 0;
          background-color: #ffffff;
          padding: 20px;
          color: #8ac3fa;
          font-size: 16px;
        }
        button{
          width: 80px;
          border: 1px solid #b9dcff;
          background-color: #e0f0ff;
          color: #8ac3fa;
        }
      }
    }
    .list2{
      margin: 40px 0 40px 0;
      ul{
        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          color: #333333;
          height: 90px;
          border-bottom: 1px solid #c7e3ff;
          span{
            width: 11%;
          }
        }
        li:first-child{
          font-weight: bold;
          color: #333333;
          font-size: 16px;
          background-color: #edf6ff;
          border: 1px solid #c7e3ff;
        }
      }
    }
    .pagina{
      background-color: #fff;
      padding: 30px 0 50px 0;
    }
  }
}
