#myData{
  .wrap{
    //background: url("../../static/img/bj03.png") no-repeat;
    background-size: 100% 100%;
    padding: 0 50px;
    .list1{
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid #e4e4e4;
      padding: 100px 0;
      background-color: #fff;
      >div{
        display: flex;
        align-items: center;
      }
      >div:first-child{
        >div:first-child{
          margin-right: 20px;
          div{
            width: 130px;
            height: 130px;
            border: 1px solid #e9e9e9;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 130px;
              height: 130px;
            }
          }
        }
        >div:nth-child(2){
          div:first-child{
            margin-bottom: 8px;
            color: #333333;
            font-size: 16px;
            span:first-child{
              font-size: 26px;
              margin-right: 5px;
            }
            div:nth-child(3){
              margin-left: 5px;
              width: 20px;
              height: 20px;
              display: inline-block;
              background: url("../../static/img/icon69.png") no-repeat;
              background-size: 99% 99%;
              cursor: pointer;
              position: relative;
              .idendity{
                display: none;
                position: absolute;
                border: 1px solid #e4e4e4;
                padding: 20px 10px;
                width: 100px;
                border-radius: 7px;
                bottom: 25px;
                left: -51px;
                ul{
                  li{
                    margin-bottom: 15px;
                    text-align: center;
                    color: #888888;
                  }
                  li:last-child{
                    margin-bottom: 0;
                  }
                }
              }
              .idendity::after{
                content: '';
                width: 0;
                height: 0;
                display: block;
                padding: 0;
                border-top: 8px solid #e4e4e4;
                border-bottom: 8px solid transparent;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                position: absolute;
                bottom: -17px;
                left: 50%;
                margin-left: -8px;
              }
            }
          }
          .icon{font-size: 14px;line-height:20px;}
          .phone{
            text-align: left;
            span{
              display: inline-block;
              vertical-align: middle;
            }
            span:first-child{
              background: url("../../static/img/phone.png") no-repeat;
              background-size: 100% 100%;
              width: 14px;
              height: 14px;
              margin-right: 5px;
            }
          }
          .account{
            text-align: left;
            span{
              display: inline-block;
              vertical-align: middle;
            }
            span:first-child{
              background: url("../../static/img/account.png") no-repeat;
              background-size: 100% 100%;
              width: 14px;
              height: 14px;
              margin-right: 5px;
            }
          }
          .shop{
            text-align: left;
            span{
              display: inline-block;
              vertical-align: middle;
            }
            span:first-child{
              background: url("../../static/img/shop.png") no-repeat;
              background-size: 100% 100%;
              width: 14px;
              height: 14px;
              margin-right: 5px;
            }
          }
        }
      }

      .sater{
        >div{
          display: flex;
          div{
            background: url("../../static/img/icon50.png") no-repeat;
            background-size: 100% 100%;
            width: 130px;
            height: 130px;
            position: relative;
            margin-right: 30px;

            span{
              width: 63px;
              position: absolute;
              bottom: -10px;
              left: 50px;
              margin-left: -13px;
              font-size: 16px;
              color: #000;
            }
            span:last-child{
              top: initial;
              color: #ff9b87;
              bottom: 60px;
              font-size: 20px;
            }
          }
          div:nth-child(2){
            background: url("../../static/img/icon51.png") no-repeat;
            background-size: 100% 100%;
            span{
              color: #000;
              left: 48px;
            }
            span:last-child{
              color: #0189d7;
              font-size: 20px;
            }
          }
          div:nth-child(3){
            background: url("../../static/img/icon52.png") no-repeat;
            background-size: 100% 100%;
            span{
              color: #000;
              left: 48px;
            }
            span:last-child{
              font-size: 20px;
              color: #ff87a9;
            }
          }
        }
      }
    }
    .list2{
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      margin-top: 10px;
      //padding: 150px 0;
      >div{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.3%;
        height: 280px;
        >div:first-child{
          width: 140px;
          height: 140px;
          margin-right: 20px;
          img{
            width: 100%;
          }
        }
        >div:nth-child(2){
          text-align: left;
          div:first-child{
            font-size: 20px;
            color: #333333;
            margin-bottom: 10px;
          }
          div:last-child{
            font-size: 14px;
            color: #83b844;
            cursor: pointer;
          }
        }
        >span{

          display: block;
          border-right: 1px solid #e4e4e4;
          height: 40%;
          position: absolute;
          right: 0;
        }

      }

      >div:nth-child(2){
        border-left: 0;
        >div:nth-child(2){
          div:last-child{
            color: #8693f3;
          }
        }
      }
      >div:nth-child(3){
        border-left: 0;
        >div:nth-child(2){
          div:last-child{
            color: #ff9b87;
          }
        }
        >span{
          display: none;
        }
      }
    }
  }
}
