#myProjectIndex{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
  .wrap3{
    margin-top: 20px;
    background-color: #fff;
    .w3-title{
      text-align: left;
      border-bottom: 1px solid #e4e4e4;
      padding: 30px 0;
      span{
        font-size: 16px;
        color: #333333;
        font-weight: bold;
        padding: 0 0 0 35px;
      }
    }
    .w3-seek{
      padding: 0 38px;
      margin-top: 40px;
      display: flex;
      >div:first-child{
        display: flex;
        width: 70%;
        >div:first-child{
          width: 5%;
          min-width: 44px;
          font-size: 14px;
          color: #333333;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        >div:nth-child(2){
          width: 60%;
          ul{
            display: flex;
            justify-content: space-around;
            li{
              width: 18%;
              font-size: 14px;
              color: #333333;
              border: 1px solid #e4e4e4;
              margin-right: 20px;
              padding: 13px 0;
              cursor: pointer;
            }
            li.sel{
              color: #8693f3;
              font-weight: bold;
              border: 1px solid #8693f3;
            }
          }
        }
        >div:nth-child(3){
          display: flex;
          align-items: center;
          input{
            width: 34%;
            padding: 13px 0;
            border: 1px solid #d9deff;
            text-align: center;
            background-color: #f0f2ff;
            color: #8693f3;
          }
          span{
            margin: 0 10px;
          }
          input::placeholder{
            text-align: center;
            color: #8693f3;
          }
        }
      }
      >div:nth-child(2){
        display: flex;
        width: 30%;
        input{
          width: 80%;
          font-size: 16px;
          color: #8693f3;
          border: 1px solid #8693f3;
          padding: 0 20px;
          background-color: #f0f2ff;
        }
        input::placeholder{
          color: #8693f3;
        }
        button{
          width: 20%;
          color: #ffffff;
          background-color: #8693f3;
        }
      }
    }
    .w3-nav{
      ul{
        margin: 40px;
        li{
          border-top: 1px solid #f2f2f2;
          font-size: 14px;
          color: #333333;
          padding: 20px 0;
          >span{
            float: left;
            font-weight: bold;
          }
          >div{
            >div{
              float: left;
              min-width: 7%;
              position: relative;
              div{
                display: inline;
                padding: 5px 15px;
                cursor: pointer;
              }
              >div.sel{
                background-color: #8693f3;
                color: #ffffff;
              }
            }
            >div::after{
              content: '';
              display: block;
              position: absolute;
              height: 100%;
              right: 0;
              top: 0;
              border-right: 1px solid #e4e7ff;
            }
          }
        }
        li:last-child{
          border-bottom: 1px solid #e4e4e4;
        }
      }
    }
    .w3-cont{
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      align-content: space-between;
      padding: 0 40px;
      .list1{
        width: 30%;
        -webkit-transition: -webkit-box-shadow 0.5s;
        transition: -webkit-box-shadow 0.5s;
        transition: box-shadow 0.5s;
        transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
        border: 1px solid #f6f6f6;
        margin-bottom: 80px;
        margin-right: 4%;
        height: 470px;
        .list1-img{
          position: relative;
          overflow: hidden;
          height: 60%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          img{
            //width: 100%;
            height: 100%;
          }
          >div:nth-child(2){
            display: none;
            position: absolute;
            top: 15px;
            left: 10px;
            button{
              padding: 5px 10px;
              font-size: 14px;
              color: #ffffff;
              border: 1px solid #ffffff;
              background-color: transparent;
              margin-right: 5px;
            }
          }
          >div:nth-child(3){
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 22%;
            display: none;
            justify-content: space-around;
            align-content: space-around;
            >div{
              width: 23%;
              height: 100%;
              position: relative;
              img{
                height: 100%;
              }
              .maskSm{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background-color: rgba(255,255,255,0.4);
                display: none;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                button{
                  display: block;
                  border-radius: 7px;
                  background-color: rgba(0,0,0,0.3);
                  font-size: 14px;
                  color: #ffffff;
                  padding: 7px 0;
                  margin: 0 15px;
                }
              }
            }
            >div:hover{
              .maskSm{
                display: flex;
              }
            }
          }
        }
        .list1-cont{
          text-align: left;
          padding: 30px 20px 0 20px;
          .l1cont-1{
            font-size: 1.4rem;
            color: #333333;
            margin-bottom: 15px;
            >span:first-child{
              margin-right: 20px;
            }
            >span:last-child{
              float: right;
            }
          }
          .l1cont-2{
            margin-bottom: 15px;
            >div{
              float: left;
              margin-right: 0px;
              font-size: 14px;
              color: #333333;
              >span:first-child{
                display: inline-block;
                width: 9px;
                height: 10px;
                background: url("../../static/img/icon12.png") no-repeat;
                background-size: 100% 100%;
                margin: 0 4px;
              }
            }
            >div:nth-child(2){
              >span:first-child{
                background: url("../../static/img/icon13.png") no-repeat;
                background-size: 100% 100%;
              }
            }
            >div:nth-child(3){
              >span:first-child{
                background: url("../../static/img/icon14.png") no-repeat;
                background-size: 100% 100%;
              }
            }
          }
        }
        .list1-tag{
          text-align: left;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: left;
          -ms-flex-pack: left;
          justify-content: left;
          padding: 0 20px 30px 20px;
          span{
            width: auto;
            text-align: center;
            border: 1px solid #e2e6ff;
            padding: 5px 5px;
            font-size: 14px;
            color: #555555;
            margin-right: 2%;
          }
        }
      }
      .list1:nth-child(3n){
        margin-right: 0;
      }
      .list1:hover{
        box-shadow: 1px 1px 35px 10px #ebebeb;
        .l1cont-1{
          font-weight: bold;
        }
        .list1-img{
          >div:nth-child(2){
            display: block;
          }
          >div:nth-child(3){
            display: flex;
          }
        }
      }
    }
  }
  .pagina{
    background-color: #fff;
    padding-bottom: 50px;
  }
}
