$fz:30px;
$fz1:20px;
#myProject{
  .mp-top{
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    padding: 40px 0px 40px 45px;
    .top-left{
      width: 38%;
      .bigImg{
        width: 100%;
        overflow: hidden;
        height: 510px;
        img{
          width: 100%;
        }
      }
      #swiper1{
        height: 100px;
        margin: 15px 0;
        .swiper-wrapper{
          height: 100%;
          .swiper-slide{
            overflow: hidden;
            cursor: pointer;
            img{
              width: 100%;
            }
          }
        }
      }
    }
    .top-right{
      width: 65%;
      max-width: 785px;
      text-align: left;
      margin-left: 50px;
      >div{
        margin: 25px 75px;
      }
      .tright-1{
        margin-bottom: 30px;
        span{
          font-size: $fz;
          font-weight: bold;
          margin-right: 30px;
        }
        span:last-child{
          float: right;
          margin-right: 0;
        }
      }
      .tright-2{
        margin-bottom: 30px;
        span{
          font-size: 18px;
          color: #333333;
          display: inline-block;
          vertical-align: middle;
        }
        span:nth-child(2n+1){
          width: 16px;
          height: 17px;
          background: url("../../static/img/icon15.png") no-repeat;
          background-size: 100% 100%;
          margin: 0 5px;
        }
        span:nth-child(2n){
          margin-right: 24px;
        }
        span:nth-child(3){
          background: url("../../static/img/icon16.png") no-repeat;
          background-size: 100% 100%;
        }
        span:nth-child(5){
          background: url("../../static/img/icon17.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      .tright-3{
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
        margin-bottom: 50px;
        span{
          display: inline-block;
          vertical-align: middle;
          width: 22%;
          padding: 10px 0;
          text-align: center;
          border: 1px solid #e4e8ff;
          font-size: 16px;
          color: #555555;
        }
      }
      .tright-4{
        margin-bottom: 60px;
        >div:first-child{
          margin: 10px 0 25px 0;
          font-size: $fz1;
          font-weight: bold;
          color: #333333;
        }
        >div:nth-child(2){
          p{
            font-size: 14px;
            color: #555555;
            text-align: justify;
            line-height: 39px;
          }
        }
      }
      .tright-5{
        button{
          font-size: 16px;
          color: #ffffff;
          padding: 13px 25px;
          background-color: #83b844;
          span{
            display: inline-block;
            vertical-align: middle;
          }
          span:first-child{
            background: url("../../static/img/icon19.png") no-repeat;
            background-size: 100% 100%;
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
        >button:first-child{
          background-color: #dd1c5d;
          margin-right: 20px;
          span:first-child{
            background: url("../../static/img/icon18.png") no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
  .mp-cont{
    background-color: #fff;
    margin-top: 30px;
    .nav{
      border-bottom: 1px solid #e4e4e4;
      ul{
        display: flex;
        justify-content: center;
        li{
          font-size: 16px;
          color: #333333;
          cursor: pointer;
          margin: 30px 0;
          width: 15%;
          position: relative;
        }
        li::after{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          border-right: 1px solid #e4e4e4;
        }
        li:last-child::after{
          display: none;
        }
        li.sel{
          color: #a51e32;
          font-weight: bold;
        }
      }
    }
  }
  .mp-bianjiBox{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    .bianjiBoxWrap{
      background-color: #fff;
      padding: 30px;
      max-width: 800px;
      height: 600px;
      position: relative;
      overflow-y: scroll;
      .biankuang{
        border: 1px solid #e4e4e4;
        position: relative;
        padding: 0 40px;
        .bianjiBoxTitle{
          font-size: 20px;
          color: #333333;
          font-weight: bold;
          margin: 30px 0;
          span{
            position: absolute;
            background: url("../../static/img/icon24.png") no-repeat;
            background-size: 100% 100%;
            width: 23px;
            height: 24px;
            right: 30px;
            top: 20px;
            cursor: pointer;
          }
        }
        .bianji{
          >form{
            .item-title{
              font-size: 18px;
              color: #83b844;
              font-weight: bold;
              text-align: left;
              margin: 40px 0;
            }
            .item-cont{
              display: flex;
            }
            label{
              font-size: 14px;
              color: #333333;
              text-align: right;
              min-width: 71px;
              position: relative;
            }
            label::before{
              content: '*';
              width: 5px;
              color: #ff0000;
              display: inline-block;
              position: absolute;
              margin-left: -8px;
            }
            input{
              height: 45px;
              border: 1px solid #e4e4e4;
              font-size: 14px;
              color: #333333;
              padding: 0 10px;
            }
            .formItem1{
              >div:nth-child(2),>div:nth-child(3){
                margin-bottom: 30px;
                >div{
                  width: 50%;
                  display: flex;
                  align-items: center;
                  margin-right: 20px;
                  label{
                    width: 20%;
                  }
                  input{
                    width: 80%;
                    font-size: 14px;
                    padding: 0 10px;
                  }
                }
              }
              >div:nth-child(3){
                >div{
                  width: 100%;
                  label{
                    width: 10%;
                  }
                  >div{
                    width: 81%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .el-select{
                      width: 47%;
                    }
                  }
                  input{
                    width: 100%;
                  }
                }
              }
            }
            .formItem2{
              .item-cont{
                display: block;
                >div:nth-child(1){
                  display: flex;
                  align-items: center;
                  margin-bottom: 30px;
                  label{
                    width: 10%;
                  }
                  input{
                    width: 90%;
                  }
                }
                >div:nth-child(2),>div:nth-child(3){
                  margin-bottom: 30px;
                  display: flex;
                  align-items: center;
                  text-align: left;
                  >div{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin-right: 20px;
                    label{
                      width: 20%;
                    }
                    .el-select{
                      width: 80%;
                    }
                    input{
                      width: 80%;
                    }
                    >span{
                      position: absolute;
                      right: -22px;
                    }
                  }
                  >div:nth-child(2){
                    label{
                      width: 22%;
                      min-width: 78px;
                    }
                  }
                }
              }
            }
            .formItem3{
              text-align: left;
              .item-cont{
                display: block;
                >div:nth-child(2n+1){
                  font-size: 18px;
                  font-weight: bold;
                  margin: 10px 0;
                }
                .shou,.info{
                  padding: 20px 0;
                  border: 1px solid #e4e4e4;
                  >div{
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 10px;
                    label{
                      width: 9%;
                    }
                    >div{
                      width: 91%;
                      display: flex;
                      justify-content: left;
                      flex-wrap: wrap;
                      >span{
                        cursor: pointer;
                        text-align: center;
                        width: 10%;
                        margin: 0 10px 10px 0;
                        background-color: #8693f3;
                        color: #ffffff;
                        padding: 8px 20px;
                        position: relative;
                        span{
                          display: none;
                          position: absolute;
                          width: 10px;
                          height: 10px;
                          background: url("../../static/img/icon68.png") no-repeat;
                          background-size: 100% 100%;
                          top: 3px;
                          right: 3px;
                        }
                      }
                      >span:hover{
                        span{
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
            }
            .formItem4{
              .item-cont{
                margin-bottom: 30px;
                textarea{
                  width: 100%;
                  height: 100px;
                  font-size: 14px;
                  resize:none;
                  padding: 10px;
                  border: 1px solid #e4e4e4;
                }
              }
            }
            .formItem5{
              margin-bottom: 30px;
              button{
                font-size: 18px;
                color: #83b844;
                border: 1px solid #83b844;
                background-color: #fff;
                padding: 10px 50px;
              }
              button:hover{
                background-color: #83b844;
                color: #ffffff;
              }
            }
          }
        }
        .fenxiang{
          >div:nth-child(1){
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            .list2{
              >div{
                margin-bottom: 10px;
              }
              >div:nth-child(1){
                position: relative;
                margin-bottom: 30px;
                span{
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  background-color: rgba(0,0,0,0.2);
                  padding: 8px 15px;
                  font-size: 14px;
                  color: #ffffff;
                }
              }
              >div:nth-child(2){
                font-size: 16px;
                color: #333333;
              }
              >div:nth-child(3){
                font-size: 14px;
                color: #ff0000;
              }
            }
          }
          >div:nth-child(2){
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            >div{
              cursor: pointer;
              border-radius: 50%;
              position: relative;
              margin: 0 20px;
              img{
                width: 100%;
              }

            }
            >div:nth-child(1){
              div{
                display: none;
                position: absolute;
                width: 160px;
                height: 160px;
                padding: 15px;
                background-color: #fff;
                top: 70px;
                left: -70px;
                box-shadow: 0 0 30px #ececec;
                z-index: 100;
                img{
                  width: 100%;
                }
              }
              div::before{
                content: '';
                display: block;
                position: absolute;
                padding: 0;
                margin: 0;
                border-bottom: 10px solid #ffffff;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                top: -19px;
                left: 50%;
                margin-left: -10px;
              }
            }
            >div:nth-child(1):hover{
              div{
                display: block;
              }
            }
          }
          >div:nth-child(3){
            position: relative;
            border: 1px solid #e4e4e4;
            width: 81%;
            margin: auto;
            div:first-child{
              font-size: 18px;
              color: #a51e32;
              border: 1px solid #e4e4e4;
              position: absolute;
              padding: 15px 70px;
              left: 50%;
              margin-left: -115px;
              top: -27px;
              background-color: #fff;
            }
            div:nth-child(2){
              ul{
                margin-top: 70px;
                margin-bottom: 30px;
                li{
                  font-size: 14px;
                  color: #555555;
                  margin-bottom: 25px;
                }
              }
            }
          }
          >div:nth-child(4){
            margin: 20px 0;
            font-size: 12px;
            color: #dd1c5d;
          }
        }
      }
    }
  }
}
