#myShop{
  background-color: #fff;
  padding: 0 50px;
  .list1{
    display: flex;
    justify-content: left;
    padding: 40px 0;
    >div:first-child{
      display: flex;
      >div{
        margin-right: 10px;
        select{
          border: 1px solid #ffc7cb;
          background-color: #fff1f2;
          font-size: 16px;
          color: #f15e68;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-align: center;
          padding: 15px 55px;
        }
      }
    }
    >div:last-child{
      display: flex;
      width: 620px;
      input{
        width: 80%;
        border: 1px solid #ffc7cb;
        padding: 0 20px;
        font-size: 16px;
        color: #d94650;
        background-color: #fff1f2;
        border-right: 0;
      }
      input::placeholder{
        color: #d94650;
      }
      button{
        width: 20%;
        border: 1px solid #d94650;
        background-color: #d94650;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
  .list2{
    margin-bottom: 20px;
    ul{
      li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffc7cb;
        height: 60px;
        font-size: 14px;
        color: #333333;
        span{
          width: 14%;
        }
        span:nth-child(2){
          width: 25%;
        }
        span:last-child{
          display: block;
          background-color: #fff1f2;
          width: 110px;
          margin: 0 100px;
          padding: 10px 0;
          border: 1px solid #ffc7cb;
          cursor: pointer;
        }
        span:last-child:hover{
          background-color: #d94650;
          border: 1px solid #d94650;
          color: #ffffff;
        }
      }
      li:first-child{
        font-size: 16px;
        color: #333333;
        font-weight: bold;
        border: 1px solid #ffc7cb;
        background-color: #fff1f2;
        span:last-child{
          display: block;
          //background-color: #fff1f2;
          width: 110px;
          margin: 0 100px;
          padding: 10px 0;
          border: 0;
          cursor: initial;
        }
        span:last-child:hover{
          background-color: #fff1f2;
          color: #333333;
        }
      }
    }
  }
  .pagina{
    background-color: #fff;
    padding: 30px 0 50px 0;
  }
}
