#projectConvert{
  padding: 80px 50px;
  .wrap{
    .list{
      padding: 40px 0;
      border-top: 1px solid #f6f6f6;
      >div{
        float: left;
      }
      .list-1{
        width: 10%;
        >div{
          width: 105px;
          height: 105px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid #e8f2dd;
          img{
            width: 95%;
          }
        }
      }
      .list-2{
        width: 70%;
        text-align: left;
        >div{
          margin-bottom: 15px;
        }
        >div:nth-child(1){
          display: flex;
          div:first-child{
            font-size: 20px;
            color: #333333;
            font-weight: bold;
            margin-right: 30px;
            span{
              display: inline-block;
              vertical-align: middle;
            }
            span:first-child{
              //background: url("../../static/img/icon21.png") no-repeat;
              background-size: 100% 100% ;
              width: 18px;
              height: 18px;
              margin-right: 8px;
            }
          }
          div:last-child{
            font-size: 16px;
            color: #333333;
            span{
              display: inline-block;
              vertical-align: middle;
            }
            span:first-child{
              background: url("../../static/img/icon22.png") no-repeat;
              background-size: 100%;
              background-position: 0 4px;
              width: 16px;
              height: 21px;
              margin-right: 10px;
            }
          }
        }
        >div:nth-child(2){
          display: flex;
          padding-left: 25px;
          div{
            font-size: 14px;
            color: #333333;
            margin-right: 25px;
          }
        }
        >div:nth-child(3){
          font-size: 14px;
          color: #a51e32;
          padding-left: 25px;
        }
        .huifu{
          padding: 20px 0 0 25px;
          p{
            font-size: 16px;
            color: #333333;
            text-align: justify;
            margin-bottom: 20px;
          }
          .huifu1{
            font-size: 16px;
            color: #333333;
            border: 1px solid #e4e4e4;
            background-color: #f6f6f6;
            width: 100%;
            padding: 20px 40px 20px 30px;
            .huifuList{
              width: 100%;
              div{
                margin: 8px 0;
              }
              div:first-child{
                display: flex;
                span:first-child{

                  min-width: 65px;
                }
                span:last-child{

                }
              }
              div:last-child{
                color: #888888;
                text-align: right;
              }
            }
          }
          .huifuButton{margin-top: 10px;text-align: right}
        }
      }
      .list-3,.list-4{
        width: 10%;
        padding: 45px 0;
        font-size: 16px;
        color: #ff0000;
      }
      .list-4{
        text-align: right;
        color: #333333;
        div:last-child{
          span{
            display: inline-block;
            vertical-align: middle;
          }
          span:first-child{
            background: url("../../static/img/icon23.png") no-repeat;
            background-size: 100% 100%;
            width: 18px;
            height: 16px;
            margin-right: 5px;
          }
        }
      }
    }
    .list:last-child{
      border-bottom: 1px solid #f6f6f6;
    }
  }
  .pagina{
    margin-top: 50px;
  }

}
