.textEllipsis {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  word-break: normal !important;
  width: 100%;
  display: block;
}
#personCenter{
  .wrap1{
    .swiper-pagination-bullet{
      opacity: 1;
      background-color: #fff;
    }
    .swiper-pagination-bullet-active{
      background-color: #a51e32;
      width: 12px;
      height: 12px;
      position: relative;
      top: 2px;
    }
  }
  .wrap2{
    .w2-left{
      .detaSel1 {
        .el-range__icon{
          display: none;
        }
        .el-date-editor--daterange.el-input__inner{
          width: 225px;
          background-color: #fff2ef;
          border-radius: 0;
          border: 1px solid #ffcac0;
          border-right: 0;
          padding: 0 10px ;
          height: 100%;
        }
        .el-range-separator{
          color: #ffa897;
          line-height: 38px;
        }
        .el-range-input{
          //background-color: #fff2ef;
          //color: #ffa897;
        }
        .el-range-input::placeholder{
          //color: #ffa897;
        }
        .el-input--prefix .el-input__inner {
          background-color: #fff2ef;
          border-radius: 0;
          border: 1px solid #ffcac0;
          padding: 0 10px ;
        }
        .el-input__inner:focus{
          border: 1px solid #ffcac0;
          border-right: 0;
        }
        .el-input__inner:hover{
          border: 1px solid #ffcac0;
          border-right: 0;
        }
      }
    }
    .w2-right{
      .detaSel2 {
        .el-range__icon{
          display: none;
        }
        .el-date-editor--daterange.el-input__inner {
          width: 225px;
          background-color: #e0f0ff;
          border-radius: 0;
          border: 1px solid #b9dcff;
          border-right: 0;
          padding: 0 10px ;
          height: 100%;
        }
        .el-range-input{
          //background-color: #e0f0ff;
          //color: #8ac3fa;
        }
        .el-range-separator{
          color: #8ac3fa;
          line-height: 38px;
        }
        .el-range-input::placeholder{
          //color: #8ac3fa;
        }
        .el-input__inner:focus{
          border: 1px solid #b9dcff;
          border-right: 0;
        }
        .el-input__inner:hover{
          border: 1px solid #b9dcff;
          border-right: 0;
        }
      }
    }
  }
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #8892f3;
      border: 1px solid #8892f3;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#myProject{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #a51e32;
      border: 1px solid #a51e32;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
  .mp-bianjiBox{
    .el-input__inner{
      width: 100%;
      height: 47px;
      font-size: 14px;
      padding: 0 10px;
      border-radius: 0;
      border: 1px solid #a8d375;
      //background-color: #ecfadb;
      color: #83b844;
      text-align: center;
    }
    .el-input__inner::placeholder{
      color: #83b844;
      text-align: center;
    }
    .el-input__suffix{
      display: none;
    }
    .bianjiBoxWrap{
      .biankuang{
        .formItem1{
          >div:nth-child(3){
            .el-input__inner{

            }
          }
        }
      }
    }
  }
}
#shareConvert{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #a51e32;
      border: 1px solid #a51e32;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#shareComment{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #a51e32;
      border: 1px solid #a51e32;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#shareCommunity{
  .wrap1{
    .swiper-pagination-bullet{
      opacity: 1;
      background-color: #fff;
    }
    .swiper-pagination-bullet-active{
      background-color: #a51e32;
      width: 12px;
      height: 12px;
      position: relative;
      top: 2px;
    }
  }
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #8892f3;
      border: 1px solid #8892f3;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#myProjectIndex{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #8892f3;
      border: 1px solid #8892f3;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#integralDetail{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #3489ff;
      border: 1px solid #3489ff;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#myClientDetail{
  .wrap{
    .list1{
      >div:nth-child(2){
        .el-date-editor{
          height: 100%;
          width: 160px;
        }
        .el-input__prefix{
          display: none;
        }
        .el-input--prefix .el-input__inner {
          background-color: #e0f0ff;
          border-radius: 0;
          border: 1px solid #b9dcff;
          padding: 0 10px ;
          height: 100%;
          text-align: center;
          color: #8ac3fa;
          border-right: 0;
        }
        .el-input__inner:focus{
          border: 1px solid #b9dcff;
          border-right: 0;
        }
        .el-input__inner:hover{
          border: 1px solid #b9dcff;
          border-right: 0;
        }
        .el-input__inner::placeholder{
          color: #8ac3fa;
          text-align: center;
        }
      }
    }
  }
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #8ac3fa;
      border: 1px solid #8ac3fa;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#myPerformaceDetail{
  .wrap{
    .list1{
      >div:nth-child(2){
        .el-range__icon{
          display: none;
        }
        .el-date-editor--daterange.el-input__inner{
          width: 225px;
          background-color: #fff2ef;
          border-radius: 0;
          border: 1px solid #ffcac0;
          border-right: 0;
          padding: 0 10px ;
          height: 100%;
        }
        .el-range-separator{
          color: #ffa897;
          line-height: 56px;
        }
        .el-range-input{
          //background-color: #fff2ef;
          //color: #ffa897;
        }
        .el-range-input::placeholder{
          //color: #ffa897;
        }
        .el-input--prefix .el-input__inner {
          background-color: #fff2ef;
          border-radius: 0;
          border: 1px solid #ffcac0;
          padding: 0 10px ;
        }
        .el-input__inner:focus{
          border: 1px solid #ffcac0;
          border-right: 0;
        }
        .el-input__inner:hover{
          border: 1px solid #ffcac0;
          border-right: 0;
        }
      }
    }
  }
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #ffa897;
      border: 1px solid #ffa897;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#myShop{
  .el-icon-arrow-up:before{
    color: #000;
  }
  .el-input__inner{
    text-align: center;
    height: 40px;
    font-size: 16px;
    //color: #d94650;
    padding:  0 1% ;

    border-radius: 0;
  }
  .el-input__inner::placeholder{
    //color: #d94650;
  }
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #d94650;
      border: 1px solid #d94650;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#myShopXq{
  .el-icon-arrow-up:before{
    color: #999999;
  }
  .el-input__inner{
    text-align: center;
    height: 60px;
    font-size: 16px;
    color: #555555;
    padding:  0 1% ;
    background-color: transparent;
    border: 1px solid #c8c8c8;
    border-radius: 0;
  }
  .el-input__inner::placeholder{
    color: #555555;
  }
  .el-upload--picture-card{
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 65px;
  }
  .el-upload--picture-card i{
    font-size: 22px;
  }
  .el-upload--picture-card:hover, .el-upload:focus{
    border: 0;
    -webkit-box-shadow: 0 0 15px rgba(165, 30, 30, 0.2);
    -moz-box-shadow: 0 0 15px rgba(165, 30, 30, 0.2);
    box-shadow: 0 0 15px rgba(165, 30, 30, 0.2);
  }
  .el-upload-list--picture-card .el-upload-list__item{
    width: 60px;
    height: 60px;
  }
}
#accountAssignment{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #0f7ba1;
      border: 1px solid #0f7ba1;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#myIndent{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #8892f3;
      border: 1px solid #8892f3;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
#myCollect{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #8892f3;
      border: 1px solid #8892f3;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
}
.el-select-dropdown__item.selected{
  color: #83b844;
}
.el-select-dropdown__item{
  text-align: center;
}
.clearFix::after{
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
.clearFix{
  zoom: 1;
}
.abc{
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  color: #d94650;
  .el-select-dropdown__item{
    left: 1px;
  }
  .popper__arrow::after{
    border-bottom-color: #ffffff!important;
  }
  .el-select-dropdown__item.selected{
    color: #d94650;
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: #fff1f2;
    color: #d94650;
  }
  .el-icon-arrow-up:before{
    color: #d94650;
  }
}
.qart{
  width: 300px;
  height: 350px;
}
.el-textarea__inner::placeholder{
  color: #aaa;
}
.editproduct .el-dialog__body{
  padding: 0 !important;
}
.list1-wrap{
  position: relative;
}
.download{
  position: absolute;
  bottom: 0;
  right: 0;
  transform:rotate(-30deg);
  font-size: 14px;
  color: rgba(220,20,60,0.6);
}
.list1-tag span{
  font-size: 14px !important;
}
.integral{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB6klEQVRYhe2X25GCQBBFDYEQDIEMJAPNQDNYMoAM1gwwA80AM9AMMIMlg7Mf3FmaWR4D6tduV3XV1NCPO9O3G1it/iVAgBjYAlmPboH4HUkToAC+CJczsH828RooTdAauAA5cBAwpzvtX4CH8akW3YqSuxNfgd1M/0R+KM48EMBRzsdZjr/jHBTnMtfRoX+KVEDkbmEpgBsQPZH87MiwFICr4SewCfSNZd/pmqUAcrHfSinNjLo9m7SW/3IAWkci04lui/XJg6YVD650TwMYeJ74OhHr+lIAI34R7ag+m9IU2gvrKsOB4A6gmR0h47oauzEfQBGY/CT7WutdT5lSut01PF09wxLYjtiuDQEnb4x2Ol5DAPjzoFQtP4CNkifGJhsDQTMjymAAWie6Vn8eQNPnSc/+zYAttK48mzAA3r47cW6SOwB3pmfFnTklGDTo2iZ+QJp2tASMPZ+3ALgF2schAFxbpTMAuNrvgfVAYvuSGgUQm6AZ48zuI2GIDANQ4B1d5p9p2y82dj8c0PqotSXjneYlldLOjXEACh7RsH2I2bYNpwO2cWfZO6dYJ8h1wit67SpgRU/te+Kksp/3nTgR1H3EulJlKpXTPQ0Bb7KpefVPjE429cGCbu71f1AGiC2V1UNIif6ufAP9j6jleQIGXgAAAABJRU5ErkJggg==') no-repeat;
  padding-left: 35px;
  background-position: 0 5px;
}
@media screen and (max-width: 1440px) {
  .list1-tag span{
    font-size: 14px !important;
    margin-right: 2% !important;
  }
  .list1-tag span:after{
    right: -3px !important;
  }
  .orderby{
    font-size: 14px !important;
  }
}
