#personCenter{
  .wrap1{
    .swiper-pagination-bullet{
      opacity: 1;
      background-color: #fff;
    }
    .swiper-pagination-bullet-active{
      background-color: #a51e32;
      width: 12px;
      height: 12px;
      position: relative;
      top: 2px;
    }
  }
  .wrap2{
    .w2-left{
      .detaSel1 {
        .el-input__prefix{
          display: none;
        }
        .el-input--prefix .el-input__inner {
          background-color: #fff2ef;
          border-radius: 0;
          border: 1px solid #ffcac0;
          padding: 0 10px ;
        }
        .el-input__inner:focus{
          border: 1px solid #ffcac0;
        }
        .el-input__inner:hover{
          border: 1px solid #ffcac0;
        }
      }
    }
    .w2-right{
      .detaSel2 {
        .el-input__prefix{
          display: none;
        }
        .el-input--prefix .el-input__inner {
          background-color: #e0f0ff;
          border-radius: 0;
          border: 1px solid #b9dcff;
          padding: 0 10px ;
        }
        .el-input__inner:focus{
          border: 1px solid #b9dcff;
        }
        .el-input__inner:hover{
          border: 1px solid #b9dcff;
        }
      }
    }
  }
}
#myProject{
  .btn-prev,.btn-next{
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 8px 13px;
    height: 35px;
    span{
      line-height: normal;
    }
  }
  .el-pager{
    li{
      height: 35px;
      min-width: 35px;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
    }
    li.active{
      background-color: #a51e32;
      border: 1px solid #a51e32;
      color: #ffffff;
    }
    li.active:hover{
      color: #ffffff;
    }
    li:hover{
      color: #666666;
    }
  }
  .mp-bianjiBox{
    .el-input__inner{
      width: 100%;
      height: 47px;
      font-size: 14px;
      padding: 0 10px;
      border-radius: 0;
      border: 1px solid #a8d375;
      background-color: #ecfadb;
      color: #83b844;
      text-align: center;
    }
    .el-input__inner::placeholder{
      color: #83b844;
      text-align: center;
    }
    .el-input__suffix{
      display: none;
    }
    .bianjiBoxWrap{
      .biankuang{
        .formItem1{
          >div:nth-child(3){
            .el-input__inner{

            }
          }
        }
      }
    }
  }
}
.el-select-dropdown__item.selected{
  color: #83b844;
}
.el-select-dropdown__item{
  text-align: center;
}
