#shareCommunity{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
  .wrap1{
    .swiper-container{
      width: 100%;
      .swiper-wrapper{
        width: 100%;
        .swiper-slide{
          width: 100%;
          a{
            display: block;
            img{
              width: 100%;
            }
          }
        }
      }
      .swiper-button-prev,.swiper-button-next{
        background-image: none;
        background-color: rgba(0,0,0,0.1);
        width: 50px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
      }
      .swiper-button-prev:hover,.swiper-button-next:hover{
        background-color: #a51e32;
      }
      .swiper-pagination{
        bottom: 15px;
      }

    }
  }
  .wrap3{
    margin-top: 20px;
    //background-color: #fff;
    .w3-title{
      background-color: #fff;
      text-align: left;
      border-bottom: 1px solid #e4e4e4;
      padding: 30px 0;
      span{
        font-size: 16px;
        color: #333333;
        font-weight: bold;
        padding: 0 0 0 35px;
      }
    }
    .w3-seek{
      padding: 40px 38px;
      display: flex;
      background-color: #fff;
      margin-bottom: 40px;
      >div:first-child{
        display: flex;
        width: 50%;
        >div:first-child{
          width: 7%;
          min-width: 44px;
          font-size: 14px;
          color: #333333;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        >div:nth-child(2){
          width: 90%;
          ul{
            display: flex;
            justify-content: space-around;
            li{
              width: 18%;
              font-size: 14px;
              margin-right: 20px;
              padding: 13px 0;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #8794f4;
              .icon{
                width: 20px;
                height: 19px;
                background-size: 100% auto;
                margin-right: 5px;
              }
              .icon0{
                background: url("../../static/img/p1.png") no-repeat center;
              }
              .icon1{
                background: url("../../static/img/p2.png") no-repeat center;
              }
              .icon2{
                background: url("../../static/img/p3.png") no-repeat center;
              }
              .icon3{
                background: url("../../static/img/p4.png") no-repeat center;
              }
            }
            li.sel{
              font-weight: bold;
              border: 1px solid #8794f4;
            }
          }
        }
        >div:nth-child(3){
          display: flex;
          align-items: center;
          input{
            width: 34%;
            padding: 13px 0;
            border: 1px solid #d9deff;
            text-align: center;
            background-color: #f0f2ff;
            color: #8693f3;
          }
          span{
            margin: 0 10px;
          }
          input::placeholder{
            text-align: center;
            color: #8693f3;
          }
        }
      }
      >div:nth-child(2){
        display: flex;
        width: 30%;
        input{
          width: 80%;
          font-size: 16px;
          color: #8693f3;
          border: 1px solid #8693f3;
          padding: 0 20px;
          background-color: #f0f2ff;
        }
        input::placeholder{
          color: #8693f3;
        }
        button{
          width: 20%;
          color: #ffffff;
          background-color: #8693f3;
        }
      }
    }
    .w3-nav{
      background-color: #fff;
      ul{
        margin: 0 40px;
        li{
          border-top: 1px solid #f2f2f2;
          font-size: 14px;
          color: #333333;
          padding: 20px 0;
          >span{
            float: left;
            font-weight: bold;
          }
          >div{
            >div{
              float: left;
              min-width: 7%;
              position: relative;
              div{
                display: inline;
                padding: 5px 15px;
                cursor: pointer;
              }
              >div.sel{
                background-color: #8693f3;
                color: #ffffff;
              }
            }
            >div::after{
              content: '';
              display: block;
              position: absolute;
              height: 100%;
              right: 0;
              top: 0;
              border-right: 1px solid #e4e7ff;
            }
          }
        }
        li:last-child{
          border-bottom: 1px solid #e4e4e4;
        }
      }
    }
    .w3-cont{
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      align-content: space-between;
      padding: 0 40px;

      .list1{
        background-color: #fff;
        width: 30%;
        transition: box-shadow 0.5s;
        border: 1px solid #f6f6f6;
        margin-bottom: 34px;
        margin-right: 4%;
        height: 425px;
        padding: 30px 0 15px 0;
        .list1-img{
          position: relative;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            max-width: 100%;
            max-height: 100%;
          }
          >div:nth-child(2){
            display: none;
            position: absolute;
            top: 15px;
            left: 10px;
            button{
              padding: 5px 10px;
              font-size: 14px;
              color: #ffffff;
              border: 1px solid #ffffff;
              background-color: transparent;
              margin-right: 5px;
            }
          }
          >div:nth-child(3){
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 22%;
            display: none;
            justify-content: space-around;
            align-content: space-around;
            >div{
              width: 23%;
              height: 100%;
              position: relative;
              img{
                height: 100%;
              }
              .maskSm{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background-color: rgba(255,255,255,0.4);
                display: none;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                button{
                  display: block;
                  border-radius: 7px;
                  background-color: rgba(0,0,0,0.3);
                  font-size: 14px;
                  color: #ffffff;
                  padding: 7px 0;
                  margin: 0 15px;
                }
              }
            }
            >div:hover{
              .maskSm{
                display: flex;
              }
            }
          }
        }
        .list1-cont{
          text-align: left;
          padding: 30px 20px 0 20px;
          .price{
            font-size: 16px;
            margin-bottom: 10px;
            >div:first-child{
              //width: 70%;
            }
            >div{
              display: inline-block;
              color: red;
            }
          }
          .l1cont-1{
            font-size: 17px;
            color: #333333;
            margin-bottom: 15px;
            >span:first-child{
              margin-right: 20px;
            }
            >span:last-child{
              float: right;
            }
          }
          .l1cont-2{
            margin-bottom: 15px;
            >div{
              display: inline-block;
              margin-right: 0px;
              font-size: 12px;
              color: #333333;
              >span:first-child{
                display: inline-block;
                width: 9px;
                height: 10px;
                background: url("../../static/img/icon12.png") no-repeat;
                background-size: 100% 100%;
                margin: 0 4px;
              }
            }
            >div:nth-child(2){
              >span:first-child{
                background: url("../../static/img/icon13.png") no-repeat;
                background-size: 100% 100%;
              }
            }
            >div:nth-child(3){

              >span:first-child{
                background: url("../../static/img/icon14.png") no-repeat;
                background-size: 100% 100%;
              }
            }
          }
        }
        .list1-tag{
          text-align: left;
          display: flex;
          justify-content: left;
          padding: 0 20px 20px 20px;
          span{
            width: auto;
            text-align: center;
            border: 1px solid #e2e6ff;
            padding: 5px 5px;
            font-size: 14px;
            color: #555555;
            margin-right: 2%;
          }
        }
        .list-user{
          font-size: 14px;
          >div{
            line-height: 30px;
          }
          >div:first-child{
            padding-left: 10px;
          }
          .userimg{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            >img{
              height: 100%;
            }
          }
          .userbox{
            >div{
              float: left;
            }
            >div:first-child{margin-right: 5px}
          }
          .cart{
            background: url('../../static/img/icon/icon-cart.png') no-repeat;
            background-position: left center;
            background-size: 15px 15px;
            text-align: left !important;
            text-indent: 18px;
          }
          .view{
            background: url('../../static/img/icon/icon-view.png') no-repeat;
            background-position: left center;
            background-size: 15px 15px;
            text-align: left !important;
            text-indent: 18px;
          }
        }
      }
      .list1:nth-child(3n){
        margin-right: 0;
      }
      .list1:hover{
        box-shadow: 1px 1px 35px 10px #ebebeb;
        .l1cont-1{
          font-weight: bold;
        }
        .list1-img{
          >div:nth-child(2){
            display: flex;
          }
        }
      }
    }
  }
  .pagina{
    padding-bottom: 50px;
  }
}
